body {
	font-family: 'Montserrat', sans-serif;
	background-color: #f1f1f1;
}
.column1, .column2 {
	background-color: white;
	border: 1px solid black;
/*	margin: 5px;*/
}


#mainvisual {
	width: ;
}

#sidevisual {
	width: 40%;
	float:left;
	margin: 1.66%;
}