body {
	font-family: 'Montserrat', sans-serif;
	background-color: #f1f1f1;
/*	width: 100%;*/
}



/*.column1, .column2 {
	background-color: white;
	border: 1px solid black;
}*/

.jumbotron {
    background-color: #ffffff;
    padding: 2rem 2rem;
    height: 100%;
    margin-top: 80px;
}

#mainvisual {
	float:left;
	width: 50%;
}

#sidevisual {
	width: 40%;
	float:left;
/*	margin: 1%;*/
}

#sidevisual:hover {
	opacity: 0.5;
	border: 1px solid black;
}

.jumbotron h1 {
	font-size: 30px;
	font-weight: bold;
}

.jumbotron p {
	font-size: 100%;
}

@media(max-width: 750px) {
	.navvisual {
	  visibility: hidden;
	}
}
/*#sidevisual {
    width: 170px;
    height: 115px;
    float: left;
}*/

