img {
	width: 20%;
	float:left;
	margin: 1.66%;
}
img:hover {
	opacity: 0.5;
}
h1 {
	font-family: 'Raleway', sans-serif;
	margin-left: 1.66%;
	font-size: 23px;
	font-weight: 800;
	text-transform: uppercase;
	border-bottom: 2px solid #f1f1f1;
	width: 65%;
	padding-bottom: 20px;
	overflow: hidden;
	white-space: nowrap;
	color: #4C8BF5;
}
h2 {
	font-family: 'Raleway', sans-serif;
	margin-left: 2%;
	font-size:16px;
	color:#1DA462;
}
h3:nth-of-type(1) {
	font-family: 'Raleway', sans-serif;
	margin-left: 2%;
	font-size: 16px;
	font-weight: 100;
	position: absolute;
	margin-top: 0%;
}
h3:nth-of-type(2) {
	font-family: 'Raleway', sans-serif;
	margin-left: 2%;
	font-size: 16px;
	font-weight: 100;
	position: absolute;
	margin-top: 14%;
}
p {
	font-family: 'Raleway', sans-serif;
	margin-left: 2%;
}
p:nth-of-type(2) {
	font-family: 'Raleway', sans-serif;
	margin-left: 2%;
	font-size: 13px;
}

ul {
	font-family: 'Raleway', sans-serif;
}
li {
	margin-left: 5%;
	font-size:15px;
	font-family: 'Raleway', sans-serif;
}