img {
	width: 20%;
	float:left;
	margin: 1.66%;
}
div{
	margin: 1.66%;	
}
h1 {
	font-family: 'Raleway', sans-serif;
	margin-left: 1.66%;
	font-size: 23px;
	font-weight: 800;
	text-transform: uppercase;
	border-bottom: 2px solid #f1f1f1;
	width: 30%;
	padding-bottom: 20px;
	overflow: hidden;
	white-space: nowrap;
	color: #4C8BF5;
}
ul {
	font-family: 'Raleway', sans-serif;
}
li {
	margin-left: 5%;
	font-size:15px;
	font-family: 'Raleway', sans-serif;
}
body {
	font-family: 'Raleway', sans-serif;
}
a{
	text-decoration: none;
	color: blue;
}
a:hover {
	opacity: 0.5;
	color: black;
}
/*#visualization {
	width: 10%;
	float:left;
	margin: 1.66%;
}*/