
body {
	font-family: 'Montserrat', sans-serif;
	background: url(https://images.unsplash.com/photo-1580607561669-35b4b34b4bca?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60);
	background-size: cover;
}
html {
	height: 100%;
}
.jumbotron {
    background-color: rgba(255, 255, 255, 0.75);
/*    padding: 2rem 2rem;*/
    height: 100%;
    margin-top: 80px;
}
.jumbotron h1 {
	font-size: 30px;
	font-weight: bold;
}
.jumbotron h2 {
	font-size: 20px;
}
.jumbotron p {
	font-size: 100%;
}
.datajumbotron {
	background-color: #ffffff;
	padding: 2rem 2rem;
    height: 100%;
    margin-top: 80px;
}
#visualcomp {
/*	width: 40%;*/
	margin: 1%;
}
#visualcomp:hover {
	opacity: 0.5;
	border: 1px solid #000000;
}

#pcomp p {
	font-weight: 900;
	color: #00238b;	
}
#mainvisual {
	float:left;
	width: 50%;
	margin: 20px;
}
#mainvisual_humid {
	width: 40%;	
}
#sidevisual {
	width: 40%;
/*	float:left;*/
	margin: 10px;
}
#sidevisual:hover {
	opacity: 0.5;
	border: 1px solid #000000;
}

@media(max-width: 750px) {
	.navvisual {
	  visibility: hidden;
	}
}
/*#sidevisual {
    width: 170px;
    height: 115px;
    float: left;
}*/

